.app {
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}

.app__main {
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
}

.app__mainLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.25;
    max-width: 15%;
    padding-left: 30px;
}

.app__mainRight:first-child {
    margin-bottom: 10px;
}

.app__mainRight {
    height: 90vh;
    flex: 0.75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.app__mainRightTaskList {
    overflow-y: auto;
    flex: 1;
    height: 500px;
}

/* @media (max-width: 750px) {
    .app__main {
        flex-direction: column;
    }
    .app__main{
       margin-top: 10%;
    }
    .app__mainRight {
        width: 50%;
    }
    .app__mainRightTaskList {
        height: 50vh;
        overflow-y: auto;
    }
} */